In [9]:
num = int(input("숫자를 입력하세요.:"))
i = 0
while(1):
    if (i*i > num):
        print("정답은", i-1)
        break
    i += 1

숫자를 입력하세요.:16
정답은 4

In [8]:
while(1):
    op = input("연산을 입력하세요.(0:종료): ")
    if(op not in ['+', '-', '*', '/', '0']):
        print("+ - * / 중 하나를 입력하세요.")
        continue
    if(op == "0"):
        print("감사합니다.")
        break
        
    a, b = input("숫자 두개를 입력하세요.: ").split()
    a = int(a)
    b = int(b)
    result = 0
    
    if(op == "+"):
        result = a + b
    elif(op == "-"):
        result = a - b
    elif(op == "*"):
        result = a * b
    elif(op == "/"):
        result = a / b
    print("결과값은", result)

연산을 입력하세요.(0:종료): 0
감사합니다.

In [1]:
[i*2 for i in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [20]:
print("Best", "python", "book")

Best python book

In [26]:
print("Best", "python", "book", sep="___")

Best___python___book

In [28]:
print("abcd" + "efg")

abcdefg

In [30]:
print("Best", "python", "book" + ":", "this book")

Best python book: this book

In [31]:
name = "James"
ID_num = 789
print("Name: "+ name + "," + " ID Number: " + str(ID_num))

Name: James, ID Number: 789

In [33]:
print("James is my friend.\n\nHe is korean")

James is my friend.

He is korean

In [35]:
animal0 = "cat"
animal1 = "dog"
animal2 = "fox"

print("Animal: {0}".format(animal0))
print("Animal: {0},{1},{2}".format(animal0, animal1, animal2))

Animal: cat
Animal: cat,dog,fox

In [49]:
f = open("myfile.txt", "w")

num = int(input("숫자 입력:"))
for i in range(1, 10):
    f.write(str(num) + " x " + str(i) + " = " + str(num*i) + "\n")

f.close()

숫자 입력:5

In [51]:
f = open("myfile.txt", "r")
f_text = f.read()
f.close()

print(f_text)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [56]:
f = open("myfile.txt", "r")
for line in f:
    print(line, end="")
f.close()

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45